.App {
  text-align: center;
}

.header{
  margin-top: 20px;
}
.todolist{
  width: 1200px;
  min-width: 800;
}
.todo-box{
  
  width: 150px;
  height: 200px;
  border: 2px solid green;
  border-radius: 15px;
  gap:10px;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  display: gird;
}